
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: black;
}

/* .page-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: auto;
  border: 5px solid red;
} */

.page-header {
  background: url(../images/header.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.page-header__logo {
  padding: 2rem;
}

.page-header__logo img {
  max-width: 100%;
}

.page-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 1.5rem;
  text-align: center;
  transition: 500ms;
  /* scroll-snap-align: start; */
}

.page-section__icon {
  width: 100%;
}

.page-section__icon img.icon-visible {
  animation-name: icon-tilt;
  animation-duration: 1s;
}

.page-section__icon img {
  max-width: 100%;
}

.page-section__content {
  width: 100%;
  font-weight: bold;
  text-align: left;
}

.page-section__content a {
  text-decoration: none;
  color: #000;
}

.page-section__content a:hover {
  opacity: .7;
}

.page-section__contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-section__contact img {
  max-width: 100%;
}

.page-footer {
  position: relative;
  background: url(../images/footer.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.page-footer__credits { 
  position: absolute;
  bottom: 0;  
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  font-size: 1rem;
  color: #e2ded5;
  background-color: #000;
}

.page-footer__logo {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
} 

.page-footer__logo img {
  max-width: 100%;
}

/* @keyframes icon-pulse {
  50%  { transform: scale(.95,.95); }
  100% { transform: scale(1.0,1.0); }
} */

@keyframes icon-tilt {
  50%  { transform: rotate(25deg); }
  100% { transform: rotate(0deg); }
}

/* 
  small devices 767px height or less in portrait 
  small viewport width 
  small viewport height 
  shrink the icon, and keep the icons and content stacked
*/
@media screen and (max-height: 767px) and (orientation: portrait) {

  .page-section__icon img {
    max-width: 70%;
  }

}

/* 
  small devices 767px height or less in landscape 
  medium viewport width 
  small viewport height
  shrink the logo and icons, and unstack icons and content
*/
@media screen and (max-height: 767px) and (orientation: landscape) {

  .page-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .page-section_alt {
    flex-direction: row-reverse;
  }

  .page-section__icon {
    width: 40%;
  }
   
  .page-section__content {
    width: 50%;
  }

  .page-header__logo img {
    max-width: 70vh;
  }

  .page-section__icon img {
    max-width: 50vh;
  }

  .page-section__contact img {
    max-width: 15vh;
  }

  .page-footer__logo img {
    max-width: 70vh;
  }

}

/*  
  medium devices 768px width or more in portrait 
  medium viewport width 
  medium/large viewport height
  increase font and padding to fill in some space
 */
@media screen and (min-width: 768px) and (orientation: portrait) {

  .page-section {
    padding: 2rem;
    font-size: 1.5rem;
  }

}

/* large devices 992px width or more */
@media screen and (min-width: 992px) {
  
  .page-header {
    text-align: right;
  }

  .page-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    font-size: 1.5rem;
  }

  .page-section_alt {
    flex-direction: row-reverse;
  }

  .page-section__icon {
    width: 40%;
  }
   
  .page-section__content {
    width: 40%;
  }
  
}